@charset "UTF-8";
/* CSS Document */


/******************************************************

PC,タブレットの設定 769px以上の場合に適用

*******************************************************/

/* スライドショー */
#slideshow {
	position: relative;
	background-color: #000;
	}

#slideshow ul li img {
	width: auto;
	height: 500px;
	display: block;
	text-align: center;
	margin: auto;
	}

#slideshow #slider_copy {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	width: 30%;
	height: auto;
	}


/* コンテンツ共通 */
h1 {
	display: none;
	}

.contents h2 img {
	display: block;
	}

.link_brown {
	width: 200px;
	height: 30px;
	color: #FFFFFF;
	border: 1px solid #FFFFFF;
	display: block;
	text-align: center;
	line-height: 28px;
	font-family: 'Shippori Mincho B1',"ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
	transition: 1.0s;
	-webkit-transition: 1.0s;
	}

.link_brown:hover {
	color: #000000;
	background-color: #FFFFFF;
	text-decoration: none;
	}

.link_white {
	width: 200px;
	height: 30px;
	color: #000000;
	border: 1px solid #FFE459;
	background-color: #FFFFFF;
	display: block;
	text-align: center;
	line-height: 28px;
	font-family: 'Shippori Mincho B1',"ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
	transition: 1.0s;
	-webkit-transition: 1.0s;
	}

.link_white:hover {
	color: #FFFFFF;
	background-color: #FFE459;
	text-decoration: none;
	}

.index-header img{
	margin: 0 auto 50px auto;
}

/* コンテンツ01 */
#contents01 {
	background-color: #FFF80A;
	position: relative;
	padding-top: 50px;
	padding-bottom: 60px;
	}

#contents01 .left {
	padding: 0 0 0 30%;
}
#contents01 .right {
	padding: 0 30% 0 0;
}

#contents01 .left img {
	width: 100%;
	margin: 0 auto;
	}

#contents01 p {
	width: 525px;
	color: #000000;
	margin: 40px auto;
	-webkit-font-smoothing: antialiased;
	text-align: center;
	}

#contents01 .link_brown {
	margin: 0 auto;
	}

#contents01 #flower {
	position: absolute;
	bottom: -45px;
	right: 50px;
	}


/* コンテンツ02 */
#contents02 {
	overflow: hidden;
	padding: 50px 50px;
	color: #000000;
	}
#contents02 h2 img {
	margin: 0 auto 50px auto;
}

#contents02 .left {
	width: 50%;
	text-align: right;
	}

#contents02 .left img {
	width: 100%;
	max-width: 800px;
	height: auto;
	right: 0;
	}

#contents02 .right {
	width: 50%;
	padding-left: 100px;
	margin-top: 30px;
	}

/* #contents02 p {
	margin: 50px 0;
	width: 525px;
	} */

#contents02 #trial {
	margin-top: 65px;
	}

#contents02 .price-text {
	font-size: 2.2rem;
	text-align: center;
}
#contents02 .head-text {
	font-size: 1.5rem;
	text-align: center;
}
#contents02 .num-text {
	padding: 10px 0;
	font-size: 1.5rem;
	text-align: center;
}
#contents02 .body-text {
	padding: 10px 0 20px 0;
}

/* コンテンツ03 */
#contents03 {
	background-color: #FFF80A;
	background-position: center center;
	background-size: cover;
	padding-top: 50px;
	padding-bottom: 100px;
	color: #000000;
	}

#contents03 h2 img {
	margin: 0 auto 50px auto;
	}

#contents03 .textbox {
  text-align: left;
    width: 50%;
    padding: 9.9% 7.42% 16.08%;
    box-sizing: border-box;
    opacity: 1;
    padding: 5.42% 7.42% 0;
}

#contents03 .textbox .headbox {
    display: flex;
    padding-bottom: 3.17%;
    border-bottom: 1px solid #fff;
    margin-bottom: 6.58%;
    align-items: flex-end;
    justify-content: space-between;
}

#contents03 .subttl {
    font-size: 20px;
}

#contents03 .right {
    flex: 1;
    display: flex;
    padding-bottom: 1.65%;
    justify-content: space-between;
}
#contents03 img.main {
  width: 80%;
}

#contents03 .namecontainer {
   display: flex;
   justify-content: space-between;
   padding: 3.3% 4% 3.3%;
   font-family: 'A-OTF-A1MINCHOSTD-BOLD',sans-serif;
   background-color: rgba(255,255,255,.2);
   align-items: center;
}
#contents03 .name {
    font-size: 1.96vw;
    letter-spacing: .14em;
    padding-bottom: auto;
}

#contents03 .name_2 {
    font-size: .917vw;
    flex: 1;
    margin-left: 5.95%;
    letter-spacing: .14em;
    letter-spacing: .06em;
}
#contents03 h2 {
	font-size: 2rem;
	font-weight: bold;
}
#contents03 p {
	width: 600px;
	margin: 40px auto 70px 0;
	text-align: left;
	-webkit-font-smoothing: antialiased;
	line-height: 2rem;
	}

#contents03 ul {
	width: 630px;
	margin: 0 auto;
	overflow: hidden;
	}

#contents03 ul li {
	float: left;
	width: 300px;
	margin-left: 30px;
	text-align: center;
	height: 80px;
	line-height: 80px;
	/* border: 1px solid #FFFFFF; */
	}

#contents03 ul li a {
	width: 100%;
	height: 100%;
	display: block;
	font-size: 22px;
	color: #FFFFFF;
	font-family: Georgia, "Times New Roman", Times, serif;
	-webkit-font-smoothing: antialiased;
	transition: 1.0s;
	-webkit-transition: 1.0s;
	}

#contents03 ul li a:hover {
	background-color: #FFFFFF;
	color: #000000;
	text-decoration: none;
	}

#contents03 ul li:first-child {
	margin-left: 0;
	}


/* コンテンツ04 */
#contents04 {
	padding-top: 50px;
	}

#contents04 h2 img {
	margin: 0 auto 50px auto;
	}

#contents04 ul {
	overflow: hidden;
	margin-top: 30px;
	}

#contents04 ul li {
	float: left;
	width: 25%;
	}

#contents04 ul li img {
	width: 100%;
	height: auto;
	}


/* コンテンツ05 */
#contents05 {
	overflow: hidden;
	padding-top: 50px;
	padding-bottom: 100px;
	}

#contents05 .left {
	width: 50%;
	text-align: right;
	}

#contents05 .left iframe {
	width: 100%;
	max-width: 800px;
	height: 500px;
	right: 0;
	}

#contents05 .right {
	width: 50%;
	padding-left: 100px;
	margin-top: 30px;
	}

#contents05 .right h2 img {
	margin-bottom: 50px;
	}

#contents05 h3 {
	font-size: 20px;
	font-weight: bold;
	-webkit-font-smoothing: antialiased;
	}

#contents05 p {
	margin: 5px 0 25px 0;
	width: 525px;
	}




/******************************************************

SPの設定 768px以下の場合に適用

*******************************************************/

@media screen and (max-width: 768px){

/* スライドショー */
#slideshow_sp {
	position: relative;
	}

#slideshow_sp ul li img {
	width: 100%;
	height: auto;
	display: block;
	}


#slideshow_sp #slider_copy_sp {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	width: 70%;
	height: auto;
	}


/* コンテンツ共通 */
.link_brown {
	width: 70%;
	height: 50px;
	line-height: 48px;
	margin: 0 auto;
	}

.link_white {
	width: 70%;
	height: 50px;
	line-height: 48px;
	margin: 0 auto;
	}


/* コンテンツ01 */
#contents01 {
	background-color: #FFF80A;
	position: relative;
	padding-top: 50px;
	padding-bottom: 60px;
	}

#contents01 h2 img {
	margin: 0 auto;
	width: 40%;
	height: auto;
	}

#contents01 p {
	width: 90%;
	}


/* コンテンツ02 */
#contents02 {
	overflow: hidden;
	padding-top: 70px;
	padding-bottom: 70px;
	}

#contents02 .left {
	width: 100%;
	text-align: center;
	}

#contents02 .left img {
	width: 90%;
	max-width: 768px;
	}

#contents02 .right {
	width: 100%;
	padding-left: 0;
	margin-top: 0;
	text-align: center;
	margin-bottom: 30px;
	}

#contents02 .right h2 img {
	width: 63%;
	height: auto;
	margin: 0 auto;
	}

#contents02 .right p {
	margin: 30px auto;
	width: 90%;
	}


#contents02 #trial {
	width: 90%;
	height: auto;
	margin: 30px auto 0 auto;
	display: block;
	}



/* コンテンツ03 */
#contents03 {
	background-color: #FFF80A;
	background-position: center center;
	background-size: cover;
	position: relative;
	margin-bottom: 10px;
	padding-top: 250px;
	padding-bottom: 250px;
	}

#contents03 h2 img {
	margin: 0 auto;
	width: 47%;
	height: auto;
	}

#contents03 p {
	width: 90%;
	margin: 30px auto 0 auto;
	}

#therapist {
	width: 98%;
	margin: 0 auto 50px auto;
	overflow: hidden;
	}

#trainer li {
	float: left;
	width: 48%;
	margin-left: 4%;
	height: 50px;
	line-height: 50px;
	margin-bottom: 20px;
	/* border: 1px solid #4E371F; */
	text-align: center;
	}

#trainer li:first-child {
	margin-left: 0;
	}

#trainer li a {
	font-size: 16px;
	color: #FFFFFF;
	font-family: Georgia, "Times New Roman", Times, serif;
	width: 100%;
	height: 100%;
	display: block;
	transition: 1.0s;
	-webkit-transition: 1.0s;
	}

#trainer li a:hover {
	background-color: #FFF80A;
	color: #FFFFFF;
	text-decoration: none;
	}


/* コンテンツ04 */
#contents04 {
	padding-top: 0;
	}

#contents04 h2 img {
	margin: 0 auto;
	width: 36%;
	height: auto;
	}

#contents04 ul {
	overflow: hidden;
	margin-top: 30px;
	}

#contents04 ul li {
	float: left;
	width: 50%;
	}

#contents04 ul li img {
	width: 100%;
	height: auto;
	display: block;
	}


/* コンテンツ05 */
#contents05 {
	padding-top: 70px;
	padding-bottom: 70px;
	}

#contents05 .left {
	width: 100%;
	text-align: center;
	}

#contents05 .left iframe {
	width: 100%;
	max-width: 768px;
	height: 300px;
	right: 0;
	}

#contents05 .right {
	width: 95%;
	padding-left: 0;
	margin-top: 0;
	margin-bottom: 40px;
	margin-left: auto;
	margin-right: auto;
	}

#contents05 .right h2 img {
	width: 70.6%;
	margin: 0 auto 50px auto;
	height: auto;
	}

#contents05 h3 {
	font-size: 20px;
	font-weight: bold;
	position: absolute;
	}

#contents05 p {
	margin: 5px 0 25px 0;
	width: 90%;
	position: absolute;
	}



}
